*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  padding: 20px;
}

form input {
  height: 32px;
  font-size: 1.2rem;
  padding: 8px;
  margin-right: 10px;
}

form button {
  margin: 20px 0;
  width: 100%;
  font-size: 1.3rem;
  padding: 5px;
  background-color: #0D5EFF;
  color: white;
  border: 0;
  border-radius: 3px;

}


.item{
  background-color: rgba(255, 247, 242, 0.876);
  border: 1px solid grey;
  margin: 10px 0;
  width: 50%;
  padding: 25px;
  font-size: 1.5rem;
}

.item h3{
  margin-bottom: 10px;
}

.item button {
  margin: 20px 10px 10px 0;
  font-size: 1rem;
  padding: 5px;
  color: white;
  border: 0;
  border-radius: 5px;
}

.item .delete {
  background-color: #FF3D50;
}
.item .edit ,.done {
  background-color: #0D5EFF;
}
