*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App h1{
  text-align: center;
}

.meme{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.template {
  width: 33%;
  display: inline-block;
  border: 10px solid transparent;
}

.template img{
  width: 100%;
  height: 500px;
  padding: 10px;
  border: 2px solid black;
  border-style: dotted;
}

.meme input{
  font-size: 1.2rem;
  padding: 5px;
  margin: 0 10px;
}

.meme button{
  font-size: 1.2rem;
  padding: 5px;
  margin: 20px 10px;
}

