.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 401px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
    background: #fff;
    color: #333;
      display: flex;
      flex-wrap: wrap;
      /* background-color: rgb(206, 23, 48); */
  }
  
  .box {
      height: 20px;
      width: 20px;
      background-color: rgb(206, 23, 48);
      border: 1px solid rgb(219, 62, 62);
      box-sizing: border-box;
  }
  
  .boxclicked {
      background-color: white;
  }